body {
    background-color: #bbc1c8;
    text-align: center;
    margin: 0 auto;
    color: #383b45;
    font-family: 'Courier New', Courier, monospace;
}

.wrapper {
    width: 1200px;
    place-items: center;
    margin: 0 auto;
}

#game-props {
    width: 640px;
    height: 100px;
    background-color: #80d0f8;
    display: inline-flex;
    margin: 10px;
}

.game-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 1px;
    margin: 20px 10px 20px;
}

.game-board div {
    width: 30px;
    height: 30px;
    background-color: #80d0f8;
    border: 1px solid #383b45;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ship {
    height: 30px;
    cursor: grab;
}

#ship1 {
    background-color: #e1f927;
    width: 150px;
}

#ship2 {
    background-color: #b071f8;
    width: 120px;
}

#ship3 {
    background-color: #4e34d4;
    width: 90px;
}

#ship4 {
    background-color: #6690ec;
    width: 90px;
}

#ship5 {
    background-color: #dd4a10;
    width: 60px;
}

#game-info {
    text-align: left;
    max-width: 640px;
    margin: 0 auto;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
    margin: 0 auto;
}

.btn {
    padding: 10px;
    background-color: orange;
    width: 100px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
}

.btn-start {
    width: 400px;
    padding: 10px;
    background-color: darkslateblue;
    color: white;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
}

#btn-flip {
    width: 140px;
    padding: 10px;
    background-color: yellow;
    color: #383b45;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
}

.vertical {
    transform: rotate(90deg);
    transform-origin: left top;
}

.taken {
    background-color: lightgray;
}

.player-ship {
    background-color: #383b45;
}

.hit {
    background-color: red;
}

.hit-ship {
    background-color: darkred;
}

.miss {
    background-color: lightgray;
}

.already-hit {
    background-color: darkgray;
    pointer-events: none;
}
